.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
}

.search_wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5em;
}

.find_link {
	color: var(--blue);
	white-space: nowrap;
	font-size: 14px;
}
