.container {
	padding-left: 250px;
	color: var(--gray);
	height: 100vh;
}

.outlet {
	padding: 1em;
	height: 100%;
	width: 100%;
	overflow-y: auto;
}

.loader_wrapper {
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;
}
