.button {
	border-radius: 4px;
	padding: 1em;
	cursor: pointer;
	border: none;
	white-space: nowrap;
	transition: all 0.1s ease;
	outline: none;
	position: relative;
}

.button:disabled {
	pointer-events: none;
	cursor: none;
	opacity: 0.3;
}

.primary {
	background-color: transparent;
	color: var(--blue);
	border: solid 1px var(--blue);
	&:hover {
		background-color: #647eb0;
		color: var(--black);
	}
}

.secondary {
	color: var(--gray);
	background-color: transparent;

	&:hover {
		background-color: rgba(255, 255, 255, 0.05);
	}
}

.submitting_primary {
	background-color: #647eb0;
	color: var(--black);
}
.submitting_secondary {
	background-color: rgba(255, 255, 255, 0.05);
}
