.container {
	background-color: rgba(255, 255, 255, 0.04);
	padding: 1em;
	border-radius: 6px;
	text-align: center;
	font-size: 16px;
	color: var(--blue);
	transition: all 0.15s ease;
	&:hover {
		cursor: pointer;
		background-color: rgba(255, 255, 255, 0.1);
	}
}
