.container {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	border-radius: 6px;
	gap: 1em;
}

.flexbox {
	width: 100%;
	display: flex;
	flex-direction: column;
}
