.container {
	border-radius: 4px;
	border: solid 1px var(--blue);
	margin: 1em;
	padding: 1em;
	position: relative;
}

.badge {
	position: absolute;
	top: -0.5em;
	left: 0.5em;
	font-size: 12px;
	color: var(--blue);
	background-color: var(--black);
}
