.container {
	position: relative;
	display: grid;
	place-items: center;
	pointer-events: none;
	user-select: none;
}

.invoker_body {
	scale: 1.5;
	background-color: transparent;
	height: 30vh;
}

.orb {
	opacity: 0.8;
	position: absolute;
	transform: translateX(-20px);
}

.left_orb {
	top: 15%;
	left: 0;
}

.middle_orb {
	top: 0;
	left: 50%;
}

.right_orb {
	top: 15%;
	left: 100%;
}
